        <html>
            <body>
                <form action="" method="POST">
                    {% csrf_token %}
                    <h1>Delete Rooms:</h1>
                    <label>
                        Room Name:
                        <input type="text" name="name"/>
                    </label>
                    <br>
                    <label>
                        Capacity:
                        <input type="text" name="capacity"/>
                    </label>
                    <br>
                    <input type="checkbox" id="myCheckbox" name="myCheckbox">
                    <label for="myCheckbox">Projector</label>
                    <br>
                    <label>
                        <input type="submit" value="Add Room"/>
                    </label>
                </form>
            </body>
        </html>